<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!--Form de Login-->
	        <% if(locals.errors){ %>
				<p class="mensajeError" style="color: red;"> <%= errors.message %>
				</p>
			<% } %> 
			<form action="/users/login" method="POST">
				<div class="title">Login</div>
				<label class="form-label" for="email">Email:</label>
				<input class="form-input" id="email" type="email" name="email" value="">

				<label class="form-label" for="contrasenia">Contraseña:</label>
				<input class="form-input" id="contraseña" type="password" name="contraseña" value="">
				
				<label class="form-label" for="recordarme">Recordarme</label>
				<input class="form-input"id="recordarme" type="checkbox" name="recordarme" value="">

				<button class="form-input" type="submit">Ingresar</button>
			</form>
		</div>
	</div>
	<!-- footer -->
<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>