<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!--Form de Login-->
			<form action="/" method="GET">
				<label class="form-label" for="email">Usuario:</label>
				<input class="form-input" type="email" name="email" value="">

				<label class="form-label" for="contrasenia">Contraseña:</label>
				<input class="form-input" type="password" name="contrasenia" value="">
				
				<label class="form-label" for="recordarme">Recordarme</label>
				<input class="form-input" type="checkbox" name="recordarme" value="">

				<button class="form-input" type="submit">Ingresar</button>
			</form>
		</div>
	</div>
	<!-- footer -->
<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>