<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogeado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!--Form de Agregar Productos-->
			<form action="/products" method="POST">
				<label class="form-label" for="imagen">Imagen:</label>
				<input class="form-input" type="file" name="imagen" value="">
			
				<label class="form-label" for="nombreProducto">Nombre del Producto:</label>
				<input class="form-input" type="text" name="nombreProducto" value="">
							
				<label class="form-label" for="descripcion">Descripción:</label>
				<input class="form-input" type="text" name="descripcion" value="">

				<button class="form-input" type="submit">Agregar</button>
			</form>
		</div>
	</div>
	<!-- footer -->
<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>