<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/header') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Form de Registracion-->
			<form action="/" method="GET">
				<label for="email">Email:</label>
				<input type="email" name="email" value="">
			
				<label for="usuario">Usuario:</label>
				<input type="text" name="usuario" value="">
							
				<label for="contrasenia">Contraseña:</label>
				<input type="password" name="contrasenia" value="">
			
				<label for="fechaNacimiento">Fecha de Nacimiento:</label>
				<input type="date" name="fechaNacimiento" value="">
			
				<label for="dni">Numero de Documento:</label>
				<input type="number" name="dni" value="">
		
				<label for="fotoPerfil">Foto de Perfil:</label>
				<input type="file" name="fotoPerfil" value="">

				<button type="submit">Registrarse</button>
			</form>
		</div>
	</div>
	<!-- footer -->
<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>